.primaryButton {
  padding: 16px 20px;
  border-radius: 6px;
  background-color: var(--color-grey-4);
  color: var(--color-dark);
  cursor: pointer;
  transition: all 0.3s;
}

.primaryButton.disabled {
  background-color: var(--color-grey-4-hover);
  color: var(--color-grey);
  pointer-events: none;
  cursor: not-allowed;
}

.primaryButton:hover {
  background-color: var(--color-grey-4-hover);
}
