/* Flexbox */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}

/* Section */
.max-w-md {
  max-width: 1024px;
}
.min-h-screen {
  min-height: 100vh;
}

/* Text Align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Text Color */
.text-grey {
  color: var(--color-grey);
}
.text-grey-2 {
  color: var(--color-grey-2);
}

/* Gap */
.gap-16 {
  gap: calc(var(--spacing-unit) * 8); /* 16px */
}
.gap-28 {
  gap: calc(var(--spacing-unit) * 14); /* 28px */
}
.gap-50 {
  gap: calc(var(--spacing-unit) * 25); /* 50px */
}
.gap-100 {
  gap: calc(var(--spacing-unit) * 50); /* 100px */
}

/* Padding */
.p-16 {
  padding: calc(var(--spacing-unit) * 8); /* 16px */
}
.p-28 {
  padding: calc(var(--spacing-unit) * 14); /* 28px */
}
.p-50 {
  padding: calc(var(--spacing-unit) * 25); /* 50px */
}
.p-100 {
  padding: calc(var(--spacing-unit) * 50); /* 100px */
}

/* Padding Top */
.pt-16 {
  padding-top: calc(var(--spacing-unit) * 8); /* 16px */
}
.pt-28 {
  padding-top: calc(var(--spacing-unit) * 14); /* 28px */
}
.pt-50 {
  padding-top: calc(var(--spacing-unit) * 25); /* 50px */
}
.pt-100 {
  padding-top: calc(var(--spacing-unit) * 50); /* 100px */
}

/* Padding Bottom */
.pb-16 {
  padding-bottom: calc(var(--spacing-unit) * 8); /* 16px */
}
.pb-28 {
  padding-bottom: calc(var(--spacing-unit) * 14); /* 28px */
}
.pb-50 {
  padding-bottom: calc(var(--spacing-unit) * 25); /* 50px */
}
.pb-100 {
  padding-bottom: calc(var(--spacing-unit) * 50); /* 100px */
}

/* Margin Top */
.mt-100 {
  margin: calc(var(--spacing-unit) * 50); /* 100px */
}

/* Border Radius */
.rounded-6 {
  border-radius: 6px;
}
.rounded-8 {
  border-radius: 8px;
}
