.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: var(--color-white);
  border-top: solid 1px var(--color-dark);
}

.footerContainer {
  width: 100%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  padding: 28px 50px;
}

.footerContainer div {
  width: 100%;
  gap: 28px;
}

.footerLogo {
  height: 38px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}
